.navbar-light .navbar-brand{
    color: #FC4A1A; 
}
.bg-light{
    background-color: #2f2f2f !important;
}

/* .btn{
    /* color: #FC4A1A;
    border-color: #FC4A1A; */
    /* border-radius: 0 !important; */
/* } */ */
input[type=text]{
    opacity: 0.95;
}
.search:hover{
    background-color: #4ABDAC;
}
*{
    color:#FC4A1A !important;
    font-weight: bold;

}
.fa{
    font-size: 27px;
}
.input-group-text{
    background-color: #4ABDAC;
    border: 1px solid #4ABDAC;
    font-size: 24px;
    opacity: 0.95;
    border-radius: 0.10rem;
}
/* .form-margin{
    margin-left: 340px !important;
} */

